@import url('../fonts/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-main-dark text-zinc-300;
	scrollbar-width: none !important;
	scrollbar-color: #999999 #ffffff;
	scroll-behavior: smooth;
}
.grid-about {
	grid-template-columns: auto 320px;
}
.thin-text {
	@apply font-thin uppercase tracking-[.2rem] text-zinc-400;
}
